name: Update

on:
  push:
  schedule:
    - cron: 30 20 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Step 1 - Checkout
      uses: actions/checkout@v2
    - name: Step 2 - Build
      run: |
        rm -rf ./DDNS
        mkdir ./DDNS
        wget https://github.com/NewFuture/DDNS/releases/latest/download/ddns -O ./DDNS/DDNS
        wget https://raw.githubusercontent.com/NewFuture/DDNS/master/README.md -O ./DDNS/README.md
    - name: Step 3 - Release
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update
